

.main {
  //background: url('./images/back.jpg'); 
  border: 6px solid transparent;
  border-image: linear-gradient(to right, rgb(117, 79, 29) , rgb(247, 238, 179),rgb(117, 79, 29) );
  border-image-slice: 1;
  max-height: 800px;
  object-fit: contain;
  overflow: hidden;
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}

@media screen and (min-width: 360px) {
  
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1080px) {

}