

@media screen and (min-width: 768px) {
    .grid-container{
        display: grid;
        width: 90%;
        max-width: 1080px;
        grid-template-areas: 'board side';
        grid-gap: 10px;
        margin: auto;
        
    }
    
}