.about-root{
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif;
    background-image: url('../home/images/marble.jpg');
    .about-box{
        width: 88%;
        margin: auto;
        background-color: #ba8b8b;
        opacity: .80;
        p{ 
            border: 6px solid transparent;
            text-align: center;
            width: 50%;
            margin: auto;
            font-style: oblique
        }
    }
}